/* PHASE 1: Header */

body {
    
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background: white;

}


.header {
    background-color: red;
    color: white;
    border-bottom: 1px solid grey;
    
}

.header-nav { 
    justify-content: space-between;
    margin: 0 auto;
    width: 900px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;   
    display: flex;
}


.header-logo {
    border-right: 1px solid #ccc;
    font-weight: 700;
}

.header-logo:hover {
    background: #000;
  }

.header-list > li:hover {
    background: #000;
}

.header-list {
    display: flex;
  }

.header-list > li {
    float: right;
    border-left: 1px solid #ccc;
}

.group.after {
    content: "";
    display: block;
    clear: both;
}

.header a {
    display: block;
    padding: 10px 20px;
  }